# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build Folder
build

# waf lock
.lock-waf_*

# waf folder
.waf-1.8.2-a01aa13963437a19e5d8748cf2afd71b
.waf-tools/default-compiler-flags.pyc
